.wrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;
}

.inputError {
    border: 1px solid red;
}
.spanError {
    color: red;
    position: absolute;
    right: -73px;
    top: 3px;
}

.input {
    height: 30px;
    width: 250px;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--btn-and-border-bg-color);
}