.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fdd671;
}

.navbar_link {
    list-style-type: none;
    font-weight: 500;
    height: 100px;
    width: 100px;
    color: #efad00;
    background-color: #fdd671;
    border-bottom: 1px solid #efad00;
    transition: .3s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_link:hover {
    color: #fffcf1;
    background-color: #fac84d;
}
