.navbar {
    grid-area: sidebar;
    padding: 20px;
}

.navbar_menu {

}

.navbar_link {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%, 1% 16%);
    font-weight: 500;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    height: 30px;
    color: #efad00;
    background-color: #fdd671;
    border-bottom: 1px solid #efad00;
    border-right: 3px solid #efad00;
    transition: .3s all;
}

.navbar_link:hover {
    border-right: 20px solid #efad00;
    color: #cb9400;
}
