.navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--btn-and-border-bg-color);
}

.navbar_link {
    list-style-type: none;
    font-weight: 500;
    height: 100px;
    width: 100px;
    color: var(--main-text-color);
    background-color: var(--btn-and-border-bg-color);
    border-bottom: 1px solid var(--main-text-color);
    transition: .3s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_link:hover {
    color: var(--active-btn-text-color);
    background-color: var(--active-btn-bg-color);
}

.active > .navbar_link {
    color: var(--active-btn-text-color);
    background-color: var(--active-btn-bg-color);
}
