.search {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
}

.search_input {
    width: 500px;
    height: 30px;
    padding: 5px 35px 5px 10px;
    border: none;
    border-bottom: 3px solid var(--main-text-color);
    border-radius: 3px;
    outline: none;
    color: var(--body-text-color);
    background-color: var(--btn-and-border-bg-color);
}

.search_input::placeholder {
    color: var(--active-btn-text-color);
    font-weight: 600;
}

.search_icon {
    cursor: pointer;
    width: 16px;
    position: absolute;
    right: 13px;
    top: 41px;
    opacity: .6;
}