.search {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
}

.search_input {
    width: 500px;
    height: 30px;
    padding: 5px 35px 5px 10px;
    border: none;
    border-bottom: 3px solid #efad00;
    border-radius: 3px;
    outline: none;
    color: #535353;
    background-color: #fdd671;
}

.search_input::placeholder {
    color: #ffffff;
    font-weight: 600;
}

.search_icon {
    cursor: pointer;
    width: 16px;
    position: absolute;
    right: 13px;
    top: 41px;
    opacity: .6;
}