.avatar {
    z-index: 1;
    width: 50px;
    height: 50px;
}

.dialog {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 200px;
    height: 50px;
    transition: .2s all ease-in-out;
    color: var(--main-text-color);
    border-bottom: 1px solid var(--main-text-color);
    background-color: var(--header-bg-color);
}

.dialog:first-child {
    border-top: 1px solid var(--main-text-color);
}

.dialog:before {
    position: absolute;
    width: 200px;
    height: 60px;

    content: '';
    transition: .2s all ease-in-out;
    transform: translateX(-98%);
    background-color: var(--btn-and-border-bg-color);
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
}

.dialog.active_dialog {
    color: var(--active-btn-text-color);
}

.dialog.active_dialog:before {
    transform: translateX(20%);
}

.name {
    z-index: 1;
    margin-left: 10px;
}
