.wrapper {
    padding: 30px;
}

.content {
    grid-area: content;
    padding: 20px;
}

.title {
    margin-top: 30px;
    font-size: 23px;
    color: var(--main-text-color);
}

.post_btn {
    margin-top: 15px;
    display: block;
    width: 130px;
    height: 30px;
    outline: none;
    background-color: var(--btn-and-border-bg-color);
    border: none;
    border-bottom: 3px solid var(--main-text-color);
    border-radius: 3px;
    color: var(--active-btn-text-color);
    font-weight: 600;
    cursor: pointer;
}

.post_btn:active {
    background-color: var(--active-btn-bg-color);
}

.post_message {
    width: 700px;
    height: 120px;
    margin-top: 15px;
    resize: none;
    outline: none;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--btn-and-border-bg-color);
    background-color: var(--textarea-bg-color);
}

.posts_wrapper {
    margin-top: 40px;
}


.new_post_wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}