* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul > li {
    list-style-type: none;
}

.App {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
            "header header"
            "sidebar content";

    background-color: #64648d;
    max-width: 1200px;
    margin: auto;
}

.App-header {
    grid-area: header;
}

.App-sidebar {
    grid-area: sidebar;
    padding: 20px;
    color: white;
}

.App-sidebar > ul > li {
    cursor: pointer;
    margin: 5px 0;
}

.App-content {
    grid-area: content;
}

.top-img {
    width: 100%;
}