.input_file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.input_label {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    outline: none;
    background-color: var(--btn-and-border-bg-color);
    border: none;
    border-bottom: 3px solid var(--main-text-color);
    border-radius: 3px;
    color: var(--active-btn-text-color);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.input_label:active {
    background-color: var(--active-btn-bg-color);
}

.btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    outline: none;
    background-color: var(--btn-and-border-bg-color);
    border: none;
    border-bottom: 3px solid var(--main-text-color);
    border-radius: 3px;
    color: var(--active-btn-text-color);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.btn:active {
    background-color: var(--active-btn-bg-color);
}

.avatar_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    display: block;
    height: 200px;
    margin-bottom: 10px;
}

.profile_wrapper {
    display: flex;
    padding: 30px;
}

.descr {
    margin: 10px 0 0 20px;
}

.span {
    color: var(--main-text-color);
}

.descr_item {
    margin-bottom: 8px;
}